{ns hapi
 import #{sty
          aidbox.simple-search
          aidbox.patient-track}

 hapi
 {:zen/tags #{sty/suite}
  :base-url "https://hapi.com/fhir"
  :basic-auth {:user "basic" :password "secret"}}



 }
