{ns aidbox
 import #{sty fhir.patient-track fhir.simple-search}

 aidbox
 {:zen/tags #{sty/env}
  :base-url "https://edgeniquola.edge.aidbox.app"
  :basic-auth {:user "basic" :password "secret"}}

 ;; local
 ;; {:zen/tags #{sty/suite}
 ;;  :base-url "http://localhost:8080"
 ;;  :basic-auth {:user "basic" :password "secret"}}


 }
