{ns servers
 import #{sty fhir.Patient-Track.read
              fhir.Patient-Track.vread
              fhir.Patient-Track.create
              fhir.Patient-Track.delete
              }

 aidbox
 {:zen/tags #{sty/env}
  :base-url "https://edgeniquola.edge.aidbox.app"
  :basic-auth {:user "basic" :password "secret"}}

  ;; local
  ;; {:zen/tags #{sty/env}
  ;;  :base-url "http://devbox:8080"
  ;;  :basic-auth {:user "root" :password "secret"}}


 }
